%table
  %thead
    %tr
      %td Workout
      %td Mets
      %td Time (h)
      %td Cal
      %td{:colspan => "3"}
  %tbody
    = form_with model: @workout, url: {controller: 'workouts', action: 'index' }, local: true do |form|
      - if @workout.errors.any?
        #error_explanation
          %h2
            = pluralize(@workout.errors.count, "error")
            prohibited this workout from being saved:
          %ul
            - @workout.errors.full_messages.each do |message|
              %li= message
      %tr.workout_data
        %td 
          = form.text_field :menu
        %td
          -# = form.number_field :mets, step: '0.1'
          = form.select :mets, [["高強度トレーニング: 8.0 METs", 8.0], ["通常強度トレーニング : 3.8 METs", 3.8]]
        %td
          = form.number_field :time, step: '0.01'
        %td
          = form.number_field :cal, step: '0.01'
        %td
          = form.submit "create workout", id: "create_workout"
    - @workouts.each do |workout|
      %tr
        %td= workout.menu
        %td= workout.mets
        %td= workout.time
        %td= workout.cal
        %td= link_to 'Edit', edit_workout_path(workout)
        %td= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } 
    %tr
      %td Total
      %td
      %td
      %td
      %td= @workout_cal




