%p#notice= notice

%p
  %b Menu:
  = @workout.menu
%p
  %b Mets:
  = @workout.mets
%p
  %b Time:
  = @workout.time
%p
  %b Cal:
  = @workout.cal

= link_to 'Edit', edit_workout_path(@workout)
\|
= link_to 'Back', workouts_path
