.main_body
  .account_box_signup
    .signup_text
      Sign up
    .signup_account_data
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .signup_account_data_area
          .signup_account_data_area_title
            = f.label :nickname
          .signup_account_data_area_form
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
        .signup_account_data_area
          .signup_account_data_area_title
            = f.label :bodyweight, "Bodyweight (kg)"
          .signup_account_data_area_form
            = f.number_field :bodyweight, step: '0.1',autofocus: true, autocomplete: "bodyweight(kg)"
        .signup_account_data_area
          .signup_account_data_area_title
            = f.label :height, "Height (cm)"
          .signup_account_data_area_form
            = f.number_field :height, autofocus: true, autocomplete: "height(cm)"
        .signup_account_data_area
          .signup_account_data_area_title
            = f.label :age
          .signup_account_data_area_form
            = f.number_field :age, autofocus: true, autocomplete: "age"
        .signup_account_data_area
          .signup_account_data_area_title_pal
            %i.fas.fa-question-circle{ style: "color:gray;" }
            = f.label :pal
            .pal_help_text.is-show
              PAL: Physical Activity Level
              %br PAL = 1.5 (Sedentary or light activity lifestyle): 
              People who have jobs that don’t demand much physical effort, don’t walk long distances, use motor vehicles as transport, don’t exercise or play sports regularly, spend most of the time sitting/standing without moving much.
              %br
              %br PAL = 1.8 (Active or moderately active lifestyle):
              People who have jobs that aren’t too strenuous but involve more movement than sedentary jobs, for example, construction workers or people who perform agricultural chores. Conversely, this could be people who have sedentary jobs but participate in vigorous exercise or sports for around one hour per day (either continuously or intermittent bouts).
              %br
              %br PAL = 2.2 (Vigorous or vigorously active lifestyle):
              People that regularly engage in strenuous work or physical activity that lasts several hours, for example, swimmers that swim for more than two hours a day, those that work in the armed forces, or agricultural workers that do the majority of their work without machines (walking long distances, carrying heavy loads).
              
          .signup_account_data_area_form
            = f.select :pal, [["Seated work with no option of moving around and little or no strenuous leisure activity: 1.5 APL", 1.5], ["Standing work (e.g. housework, shop assistant) : 1.8 PAL", 1.8], ["Strenuous work or highly active leisure : 2.2 PAL", 2.2]]
        .signup_account_data_area
          .signup_account_data_area_title
            = f.label :email
          .signup_account_data_area_form
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .signup_account_data_area
          .signup_account_data_area_title
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
          .signup_account_data_area_form
            = f.password_field :password, autocomplete: "new-password"
        .signup_account_data_area
          .signup_account_data_area_title
            = f.label :password_confirmation
          .signup_account_data_area_form
            = f.password_field :password_confirmation, autocomplete: "new-password"
        .signup_button
          = f.submit "Sign up"
      = render "devise/shared/links"
