.main_body
  .data_box
    .personal_data_box
      .user_name
        = "#{current_user.nickname}'s personal data"
      .personal_data
        .personal_data_body
          %br
          ="□ Height:                               #{current_user.height}cm"
          %br
          ="□ Weight:                               #{current_user.bodyweight}kg"
          %br
          ="□ Age:                                  #{current_user.age} year's old"
        .personal_data_figures
          %br
          .personal_data_figures_bmr
            %i.fas.fa-question-circle{ style: "color:gray;" }
            ="BMR(Basal Metabolic Rate):            #{current_user.bmr}kcal"
            .bmr_help_text.is-show
              BMR: Basal Metablic Rate
              %br Your BMR is the amount of energy you expend each day when you do nothing but rest for 24 hours.
              It’s useful to calculate your BMR so that you can work out how many calories your body requires to remain functioning.
              Below formulas are for your BMR calculation (The Mifflin, M. D., St Jeor formula):
              %br Men: 10 x weight (kg) + 6.25 x height (cm) – 5 x age (years) + 5
              Women: 10 x weight (kg) + 6.25 x height (cm) – 5 x age (years) – 161

          .personal_data_figures_pal
            %i.fas.fa-question-circle{ style: "color:gray;" }
            ="PAL(Physical Activity Level):         #{current_user.pal}"
            .pal_help_text.is-show
              PAL: Physical Activity Level
              %br PAL = 1.5 (Sedentary or light activity lifestyle): 
              People who have jobs that don’t demand much physical effort, don’t walk long distances, use motor vehicles as transport, don’t exercise or play sports regularly, spend most of the time sitting/standing without moving much.
              %br
              %br PAL = 1.8 (Active or moderately active lifestyle):
              People who have jobs that aren’t too strenuous but involve more movement than sedentary jobs, for example, construction workers or people who perform agricultural chores. Conversely, this could be people who have sedentary jobs but participate in vigorous exercise or sports for around one hour per day (either continuously or intermittent bouts).
              %br
              %br PAL = 2.2 (Vigorous or vigorously active lifestyle):
              People that regularly engage in strenuous work or physical activity that lasts several hours, for example, swimmers that swim for more than two hours a day, those that work in the armed forces, or agricultural workers that do the majority of their work without machines (walking long distances, carrying heavy loads).
              %br Source: FAO (2004)2

          .personal_data_figures_tdee
            %i.fas.fa-question-circle{ style: "color:gray;" }
            ="TDEE(Total Daily Energy Expenditure): #{current_user.tdee}kcal"
            .tdee_help_text.is-show
              TDEE: Total Daily Energy Expenditure
              %br You cau use this to work out how mamy calories your body uses per day, including your daily activities and exercise.
              To calculate your TDEE, you need to look at the activities you do throughout the day and that is PAL(Physical Activity Level).
              %br The below formulas are for your TDEE calculation:
              Your TDEE = your BMR x your PAL

    .PFC_box
      .PFCgraph
        = pie_chart @chart, suffix: "", title: "Target PFC Balance", colors: ["#FF6600", "#F00", "#444444"]
      .PFC_target_data
        %h3 Your PFC target to maintain your body
        %br
        .PFC_target_data_protein
          %i.fas.fa-question-circle{ style: "color:gray;" }
          ="Protein: #{@target_protein}g"
          .protein_help_text.is-show
            Your protein target is calculated by below forumula
            %br Your protein target = your bodyweight x 2
        .PFC_target_data_fat
          %i.fas.fa-question-circle{ style: "color:gray;" }
          ="Fat: #{@target_fat}g"
          .fat_help_text.is-show 
            Your fat target is calculated by below forumula
            %br Your fat target = your TDEE x 0.25 / 9
        .PFC_target_data_carb
          %i.fas.fa-question-circle{ style: "color:gray;" }
          ="Carb: #{@target_carb}g"
          .carb_help_text.is-show
            Your carb target is calculated by below forumula
            %br Your carb target = 
            { Your TDEE - ( your fat target x 9 + your protein target x 4 ) } / 4
        %br
        %br

  .chart_box
    .chart_box_protein
      .chart_box_protein_chart
        = line_chart [{name: "Total Protein", data: @chart_protein},{name: "Target", data: @protein_target}], discrete: true, xtitle: "Date", ytitle: "Total Protein", label: "Daily Protein", colors: ["#FF6600", "#444444"], width: "800px", height: "400px"
      .motivation_quote
        .motivation_quote_box
          =image_tag '/arnold2.jpg', class: 'person', size: '500x300'
          .motivation_quote_box_text
            " What is the point of being on this Earth if you are going to be like everyone else. "
            %br - Arnold Schwarzenegger
    .chart_box_fat
      .motivation_quote
        .motivation_quote_box
          =image_tag '/Rick Rigsby.jpg', class: 'person', size: '500x300'
          .motivation_quote_box_text
            " Just stand. You keep standing. No matter how rough the sea, you keep standing. No matter what, you don't give up."
            %br - Rick Rigsby
      .chart_box_fat_chart
        = line_chart [{name: "Total Fat", data: @chart_fat},{name: "Target", data: @fat_target}], discrete: true, xtitle: "Date", ytitle: "Total Fat", label: "Daily Fat", colors: ["#FF6600", "#444444"], width: "800px", height: "400px"
    .chart_box_carb
      .chart_box_carb_chart
        = line_chart [{name: "Total Carb", data: @chart_carb},{name: "Target", data: @carb_target}], discrete: true, xtitle: "Date", ytitle: "Total Carb", label: "Daily Carb", colors: ["#FF6600", "#444444"], width: "800px", height: "400px"
      .motivation_quote
        .motivation_quote_box
          =image_tag '/dwayne johnson.jpeg', class: 'person', size: '500x300'
          .motivation_quote_box_text
            " Success isn't overnight. It's when everyday you get a little better than the day before. It all adds up "
            %br - Dwayne Johnson
    .chart_box_cal
      .motivation_quote
        .motivation_quote_box
          =image_tag '/arnold1.jpg', class: 'person', size: '500x300'
          .motivation_quote_box_text
            " If you want to turn a vision into reality, you have to give 100% and never stop believing in your dream. "
            %br - Arnold Schwarzenegger
      .chart_box_cal_chart
        = line_chart [{name: "Total Cal", data: @chart_cal},{name: "Target", data: @cal_target}], discrete: true, xtitle: "Date", ytitle: "Total Cal", label: "Daily Cal", colors: ["#FF6600", "#444444"], width: "800px", height: "400px"