%p#notice= notice
%h1= @n_day
= pie_chart @chart, suffix: "", title: "Today's PFC Balance", colors: ["#008000", "#F00", "#000080"]
%table
  %thead
    %tr
      %th Name
      %th Protein
      %th Fat
      %th Carb
      %th Cal
      %th{:colspan => "3"}
  %tbody
    -# - @grouped_meals[true].each do |meal|
    - @meals.each do |meal|
      %tr
        %td= meal.name
        %td= meal.protein
        %td= meal.fat
        %td= meal.carb
        %td= meal.cal
        %td= link_to 'Show', meal
        %td= link_to 'Edit', edit_meal_path(meal)
        %td= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' }
    %tr
      %th Total
      %th= @sum_protein
      %th= @sum_fat
      %th= @sum_carb
      %th= @sum_cal
%br/
= render 'form', meal: @meal

= link_to 'previous day＞', "/meals/previous"
= link_to '＜next day', "/meals/next"

-# - @meals_day.each do |hash_elements|
-#   = hash_elements
-#   %br/

-#   -# %h3=Date::DAYNAMES[hash_elements.first]
-#   -# - hash_elements.last.each do |m|
-#   -#   = m.name
-#   -#   = m. created_at
-#   -#   %br/

= month_calendar events: @allmeals do |date, meals|
  = link_to date.day, meals_path(@allmeals2)
  %br/
  - array = []
  - meals.each do |meal|
    = link_to meal.name, meal_path(meal)
    = meal.protein
    -# - array << meal.protein
    -# = array.sum
    -# %br/




  


