<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @meal.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @meal.fat %>
</p>

<p>
  <strong>Carb:</strong>
  <%= @meal.carb %>
</p>

<p>
  <strong>Cal:</strong>
  <%= @meal.cal %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
